@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900;800&display=swap");

body{
    font-family: 'Poppins', sans-serif;
}


/* 

Relative Units 
 

<!--  Two Types of CSS Units -->
<!--  1) Absolute Units. -->
<!-- Fixed -->
<!--  2) Relative Units. -->
<!-- Not Fixed -->
*/
/*   Understanding em vs rem vs px Unit in CSS */

/* Incase font-size: use rem
   Incase font-size: if px are used more media queries required to be responsive

 */

 :root{
    /* font-size:10px; */
    font-size:62.5%;
 }

 h1{
    font-size:2.8rem;
    border:4px solid lightgoldenrodyellow;
    /* padding:20px; */
    padding:1rem;

    /* 
    |   |  html : root
    font-size = 10px i.e 62.5%
    font size = 2.8 rem
    i.e 2.8 x 10 = 28px

    paadding 1 em = respective to font size
    so 1em  =28px ass fontsize is 28pxin h1 child
    |    |    | html : root --->size is 10px 
    but in case of em we consider element fontsize
    of child and not root i.e 28px ---> 10px
         */
 }

 p{
    font-size: 2rem;
 }

 /* Padding and Margin
 Personal Preferance : rem or em
 padding ----> em
  */

  /* 
  Font size : rem
  padding and margin : em
  thin border : px
  layout : %
   */
