 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    font-family:'Times New Roman', Times, serif;
    box-sizing:border-box;
}

.box-wrapper{
    border:2px solid black;
}

.box1{
    width:48%;
    float:left;
    background:  #ccc694;
    padding:10px;
}

.box2{
    width:48%;
    float:right;
    background: #ccc694;
    padding:10px;
}

.box-wrapper::after{
    content:"";
    display:block;
    clear:both;

}

@media  (max-width : 1024px){
    .box1,.box2{
        float: none;
        width: 100%;
    }

    /*  
print
screen
all
only screen
*/

@media print{
    .box1,.box2{
        color:blueviolet;
    }
} 
@media screen and (max-width:500px){
    .box1,.box2{
        color:blueviolet;
    }
} 
@media all and (max-width:500px){
    .box1,.box2{
        color:blueviolet;
    }
}  
