@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family:"Poppins", sans-serif;
}

.box-wrapper{
    border: 10px solid #222;
    display: flex;
    /*  ################ Flex Direction ##################### */
    /* flex-direction: row; */
     /* main axis start from left to end to
    right of flexbox container*/
    
    /* flex-direction: row-reverse; */
     /* main axis start from right to end to
    left of flexbox container*/

     /* flex-direction: column;  */
     /* main axis start from top to end to
    buttom of flexbox container*/
      
    /* flex-direction: column-reverse;  */
     /* main axis start from buttom to end to
    top of flexbox container*/

    /* flex-wrap:nowrap; ----> By default */
    /* flex-wrap:wrap; */
    /* Normal main axis and cross view-timeline-axis
    content start from cross startand end at cross end
    wrapping downward */
    
    /* flex-wrap:wrap-reverse; */
    /* Normal main axis and cross axis reversed
    content start from cross start and ends at cross end
     wrapping upward */

     /* height:500px; */
     /* if flex box is stretche content also stretches and text-decoration-thicknes 
     complete height  */

     flex-direction:column;
     height:400px;
     flex-wrap:wrap; 
    

}
.box{
    border: 1px solid #666;
      width:500px; 
}
.box-1{
  background: lightblue;
}
.box-2{
    background: lightcoral;
  }
.box-3{
    background: lightcyan;
  }
.box-4{
    background: lightgoldenrodyellow;
  }
.box-5{
    background: lightsalmon;
}