@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: "Oswald", sans-serif;

}
.box-wrapper{
    border:10px solid black;
    max-width:1200px;
    display: flex;
    flex-wrap:wrap;
}



.box{
   flex-basis:600px;
    flex:1 400px; 
   /* flex:1 1 400px; */
}

.box-1{
    background:lightblue;
    /* flex:flex-grow flex-shrink flex-basis; */
     /* flex:1 2 500px; */
       /* flex:1 1 400px; */
}

.box-2{
    background:lightcoral;
     /* flex-shrink:2;  */
}

.box-3{
    background:lightcyan;
    /* flex-shrink:3;  */
}

.box-4{
    background:lightgoldenrodyellow;
}

.box-5{
    background:lightsalmon;
}  
