@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: "Oswald", sans-serif;

}
/*
 Justify Content ----> CHanges with respect to --> Main Axis

 Align items  --> Changes with respect to --> Cross Axiss
By Default  -- stretch 

Align Content --> CrossAxis
( When we have flex items in multiple lines)

flex - wrap --> towards cross -axis
*/

.box-wrapper{
    border:10px solid black;
    display: flex;

    /*
     height: 700px;

    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
    justify-content: space-between; */


    /* align-items: center;
    justify-content: space-between;    */


    flex-direction: column;
    align-items: flex-start;
    height: 400px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.box{
    border:1px solid #666;

}

.box-1{
    background:lightblue;
    
}

.box-2{
    background:lightcoral;
}

.box-3{
    background:lightcyan;
}

.box-4{
    background:lightgoldenrodyellow;
}

.box-5{
    background:lightsalmon;
} 
