@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: "Oswald", sans-serif;

}
.box-wrapper{
    border:10px solid black;
    display: flex;
    /* justify-content:flex-start; */
    /* justify-content:flex-end;  */
     /* justify-content:center;  */
      /* justify-content:space-between;  */
       /* justify-content:space-around;  */
         /* justify-content:space-evenly; 
        
        flex-direction:row;  */

        /* justify-content:flex-start;  --> By default  */
    /* justify-content:flex-end;  */

    /* flex-direction:column;
    justify-content:space-evenly;  */


}
.box{
    border:1px solid #666;
    /* width:300px; */

}

.box-1{
    background:lightblue;
}

.box-2{
    background:lightcoral;
}

.box-3{
    background:lightcyan;
}

.box-4{
    background:lightgoldenrodyellow;
}

.box-5{
    background:lightsalmon;
} 

