/* Absolute units */

.para1{
    /* font-size: 16px;  -- Default; */
    /* font-size:1rem; ---1rem = 16px */
    /* font-size:1em;   -----1em = 16px */
    /* font-size: 1in;    ----1in = 96px */
      /* 1in = 2.54cm; */
    /* font-size: 2.54cm; */

    /* font-size: 12pt;
    border: 12pt solid red; */
    /* 1px == 0.75pt
    16px == `16*0.75 == (12) */

    /* Relative units */
    /* 1.Understanding % in css */

}

/* div{
    border:2px solid red;
    font-size:10px;
    /* width:500px;  */
   /* width:50%;
} */

/* p{
    border:2px solid green;
    font-size:100%;  */
    /* 100% == 16px */
    /* width:50%; */
    /* margin: 4px auto; */
     /* margin-left:25%;
     margin: 10px auto;*/
     /* text-align:left;
     text-transform:uppercase;
} */
     
/* % is respect to parent here 10 so 200 % of 10 p will be 20px */

/* 
  % are mostly used to give width and margin
 */

 /*  2. Understanding Rem unit in css */
