@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900;800&display=swap");

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    position:relative;
    width:800px;
    height:500px;
    border:8px solid green;
    margin-top:50px;
    margin-bottom:50px;
}

.container h1{
    background-color:blanchedalmond;
}