.container{
    display:grid;
    grid-template-rows:auto 1fr auto;
    grid-template-columns:1fr;
    margin:0;
     height:100vh; 

}

main{
    border:2px solid lightcoral;
    padding:10px;
    border-radius: 10px;

}

header {
    border:2px solid lightcoral;
    padding:10px;
    border-radius: 10px;

}

 footer{
    border:2px solid lightcoral;
    padding:10px;
    border-radius: 10px;
    border-radius: 10px;

}