@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900;800&display=swap");

body{
    font-family: 'Poppins', sans-serif;
}

 /* p:nth-child(2){
    color:red;
 } */

 /* 2n ----> even
    2n+1 ----> odd
     */

     /* p:nth-child(2n){
        color:green;
     } */

p:nth-of-type(2n){
    color:blue;

}

/* n --->
   2n ---->
   2n+1 ----> 
*/

ul li:nth-child(2n+1){
    color:brown;
}