


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family:"Poppins", sans-serif;
}

/*
 Justify Content ----> CHanges with respect to --> Main Axis

 Align items  --> Changes with respect to --> Cross Axiss
By Default  -- stretch 
*/
   
.box-wrapper{
    border: 10px solid #222;
    display: flex;
    /* flex-direction:row; */
     /* main axis start from left to end to
     right of flexbox container */

     /* flex-direction:row-reverse; */
      /* main axis start from right to end to
     left of flexbox container */

     flex-direction:column;
     /* main axis start from top to end to
     buttom of flexbox container */

      flex-direction:column-reverse;
      /* main axis start from buttom to end to
       buttom of flexbox container */

    
}
.box{
    border: 1px solid #666;
   
}
.box-1{
  background: lightblue;
}
.box-2{
    background: lightcoral;
  }
.box-3{
    background: lightcyan;
  }
.box-4{
    background: lightgoldenrodyellow;
  }
.box-5{
    background: lightsalmon;
}