@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: "Oswald", sans-serif;

}
.box-wrapper{
    border:10px solid black;
    height:400px; 
    display: flex;
    align-items:center;
    justify-content: space-between;
}



.box{
    border:1px solid #666;
     width:550px; 
}

.box-1{
    background: lightblue;

    /* order: 0;  By default */
    order:1;
   
}

.box-2{
    background:lightcoral;
    order:0;
}

.box-3{
    background:lightcyan;
   order:2;
}

 /* .box-4{
    background:lightgoldenrodyellow;
   
}

.box-5{
    background:lightsalmon;
   
}  */
